.button {
	--color-btn: #898792;
	--transition: all 0.2s ease-in-out;

	border: 1px solid var(--color-btn);
	color: var(--color-btn);
	border-radius: 10px;
	min-height: 50px;
	height: 50px;
	min-width: 50px;
	font-weight: 600;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	transition: var(--transition);

	.icon {
		color: var(--color-btn);
		transition: var(--transition);
	}

	&:hover {
		--color-btn: #fff;
		/* box-shadow: 0px 0px 5px 2px #817171; */
		filter: drop-shadow(0 0 10px pink);
	}
}
