.container {
  --size-button: 40px;
  position: relative;
  /* color: #fff; */

  .input {
    padding-left: var(--size-button);
    height: var(--size-button);
    font-size: 16px;
    border: none;
    color: #fff;
    outline: none;
    width: var(--size-button);
    transition: all ease 0.3s;
    /* background-color: #191A1E; */
    /*   box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e; */
    /* border-radius: 10px; */
    border: 1px solid transparent;
    cursor: pointer;
  }

  .input:focus,
  .input:not(:invalid) {
    width: 100%;
    cursor: text;
    border-bottom: 1px solid #fff;
    /*   box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e; */
  }

  .input:focus+.icon,
  .input:not(:invalid)+.icon {
    pointer-events: all;
    cursor: pointer;
  }

  .icon {
    color: inherit;
    position: absolute;
    width: var(--size-button);
    height: var(--size-button);
    top: 0;
    left: 0;
    padding: 10px;
    pointer-events: none;
  }

  .icon svg {
    width: 100%;
    height: 100%;
  }

  &:hover {
    color: #fff;
  }
}
