.section {
  /* background-color: burlywood; */
  display: flex;
  flex-direction: column;
  /* row-gap: 10px; */

  .title {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .item {
    font-size: 16px;
    font-weight: 400;
  }
}

.section:last-of-type .list {
  display: flex;
  flex-direction: row;
}
