.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  /* background-color: #141025cb; */
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* для Safari */
}

.header-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 16px;
  /* min-height: 50px; */
  border-bottom: 1px solid #3a354d;
  padding-bottom: 20px;
}

.header-logo {
  max-width: 150px;
  min-width: 150px;
  max-height: 35px;
  width: 100%;
  height: 100%;
}

.header-nav {
  margin-left: 4.5%;
  flex: 1;
  /* width: 100%; */

  .nav-list {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
  }

  .nav-item {
    color: #898792;
  }

  .nav-item.search {
    flex: 1;
    min-width: 0;
  }
}

.header-options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-left: auto;
}
