.home {
  /* background-color: pink; */
}

.hero {
  display: flex;
  gap: 20px;

  .hero-content {
    max-width: 425px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .hero-title {
    font-size: 48px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .hero-text {
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 30px;
  }

  .hero-btn {
    color: var(--color-white);
    background-color: var(--color-red);
    border: 1px solid var(--color-red);
  }

  .test-block {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
  }

  .hero-slider {
    flex-grow: 1;
    min-width: 0;
  }

  @media(max-width: 1000px) {
    flex-direction: column;

    .hero-content {
      max-width: 100%;
      width: 100%;
      order: 1;
      text-wrap: balance;
    }
  }
}
